@model BookNowMovie.Models.Cinema

<div class="container" style="margin-top:10px;">
    <h2>Add New Cinema</h2>
</div>

<hr />
    <div class="container" style="margin-top:20px;margin-bottom:20px;">
        <form asp-action="Create" asp-controller="Cinema" asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

           @* @foreach (var item in Model.Movies)
            {
                <p>@item.Name</p>
            }*@

            <div class="form-group">
                 <input type="submit" value="Create" class="btn-global" />
            </div>
        </form>
    </div>
