@model BookNowMovie.Models.Cinema
@{
}


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Profile</th>
                <th>Name</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="@Model.Logo" class="actorImg" /></td>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
    </table>
</div>

