@model BookNowMovie.Models.Actor

<div>
    <h2>Add New Actor</h2>
</div>

<hr />

<div class="container" style="margin-top:20px;margin-bottom:20px;">
        <form asp-controller="Actors" asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="form-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureUrl" class="form-label"></label>
                <input asp-for="ProfilePictureUrl" class="form-control" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
             <div class="form-group">

                 <input class="btn-global" type="submit" />
           
            </div>
        </form>
    </div>
